* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

#Counter {
  max-width: 500px;
  margin: 0 auto;
  outline: auto;
  padding: 2px;
}
table {
  background-color: black;
  height: 10vh;
  width: 100%;
}
.value {
  font-family: georgia, serif, Times;
  font-size: 60px;
}

.increment {
  background-color: rgb(205, 255, 205);
  color: black;
  font-size: 15px;
  outline: 10px green;
  font-family: georgia, serif, Times;
  border-radius: 80%;
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
}

.decrement {
  background-color: rgb(247, 202, 202);
  color: black;
  font-size: 15px;
  outline: 10px red;
  font-family: georgia, serif, Times;
  border-radius: 80%;
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
}

.reset {
  background-color: rgb(92, 91, 92);
  color: black;
  font-size: 20px;
  outline: 10px gray;
  font-family: georgia, serif, Times;
  border-radius: 25%;
  width: 200px;
  height: 110px;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
}
#box {
  background-color: gray;
  background-size: cover;
  height: 100vh;
}
.valueTable {
  background-color: black;
  color: white;
  font-size: 40px;
  border: 10px solid white;
  font-family: georgia, serif, Times;
  padding: 10px;
}
td {
  background-color: whitesmoke;
  font-size: 60px;
  padding: 20px;
}

h1 {
  font-size: 60px;
  color: black;
}
